set-option -g assume-paste-time 1
set-option -g base-index 1
set-option -g base-index 1
set-option -g pane-base-index 1
set-option -g bell-on-alert off
set-option -g default-command ""
set-option -g default-path ""
set-option -g default-shell "/bin/bash"
set-option -g default-terminal "xterm-256color"
set-option -g destroy-unattached off
set-option -g detach-on-destroy on
set-option -g display-panes-active-colour red
set-option -g display-panes-colour blue
set-option -g display-panes-time 1000
set-option -g display-time 750
set-option -g history-limit 2000
set-option -g lock-after-time 0
set-option -g lock-command "lock -np"
set-option -g lock-server on
set-option -g prefix C-b
set-option -g prefix2 C-a
set-option -g renumber-windows on
set-option -g repeat-time 500
set-option -g set-remain-on-exit off
set-option -g set-titles on
set-option -g set-titles-string "#S:#I:#W - "#T""
set-option -g status on
set-option -g status-interval 15
set-option -g status-keys emacs
set-option -g status-utf8 on
set-option -g terminal-overrides "*88col*:colors=88,*256col*:colors=256,xterm*:XT:Ms=\E]52;%p1%s;%p2%s\007:Cc=\E]12;%p1%s\007:Cr=\E]112\007:Cs=\E[%p1%d q:Csr=\E[2 q,screen*:XT"
set-option -g update-environment "DISPLAY SSH_ASKPASS SSH_AUTH_SOCK SSH_AGENT_PID SSH_CONNECTION WINDOWID XAUTHORITY"
set-option -g word-separators " -_@"

# enable mouse controls
set-option -g mouse-resize-pane on
set-option -g mouse-select-pane on
set-option -g mouse-select-window on
set-option -g mouse-utf8 on

# split panes using \ and -
bind \ split-window -h
bind - split-window -v
unbind '"'
unbind %


# enable reload of config
bind-key r source-file ~/.tmux.conf \; display "Reloaded!"


######################
### DESIGN CHANGES ###
######################

# loud or quiet?
set-option -g visual-activity off
set-option -g visual-bell off
set-option -g visual-silence off
set-option -g visual-content off
set-window-option -g monitor-activity off
set-option -g bell-action none

#  modes
setw -g clock-mode-colour colour5
setw -g mode-attr bold
setw -g mode-fg colour1
setw -g mode-bg colour18

# panes
set -g pane-border-bg colour0
set -g pane-border-fg colour19
set -g pane-active-border-bg colour0
set -g pane-active-border-fg colour9

# statusbar
set -g status-bg black
set -g status-fg green
set -g status-left ' #[fg=cyan,bright]#10H#[fg=green]:#[fg=white]#S#[fg=green] | #[default]'
set -g status-right '#[fg=colour233,bg=colour19,bold] %d/%m #[fg=colour233,bg=colour8,bold] %H:%M:%S '
set -g status-left-length 15
set -g status-right-length 50
set -g status-justify left
set -g status-position bottom
set -g status-attr dim

setw -g window-status-current-fg colour15
setw -g window-status-current-bg colour21
setw -g window-status-current-attr bold
setw -g window-status-current-format ' #I#[fg=colour249]:#[fg=colour255]#W#[fg=colour249]#F '

setw -g window-status-fg colour9
setw -g window-status-bg colour18
setw -g window-status-attr none
setw -g window-status-format ' #I#[fg=colour237]:#[fg=colour250]#W#[fg=colour244]#F '

setw -g window-status-bell-attr bold
setw -g window-status-bell-fg colour255
setw -g window-status-bell-bg colour1

# messages / command-prompt
set -g message-command-attr bold
set -g message-command-bg black
set -g message-command-fg yellow
set -g message-limit 20


